<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Ethique handicap et société!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/EHS/css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EHS/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EHS/css/buttons.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EHS/css/buttons.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EHS/css/jquery.dataTables.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/EHS/css/select.dataTables.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'header.thml.twig' %}
        {{ render(controller('FOSUserBundle:Security:login')) }}
        {% if is_granted('ROLE_USER') %}
            {{ render(controller('EHSBundle:User:edit', {'id': app.user.getId()})) }}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% include 'footer.html.twig' %}
        <script src="{{ asset('bundles/EHS/js/jquery-1.12.4.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/skel.min.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/util.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/main.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('bundles/EHS/js/dataTable.js') }}"></script>
    </body>
</html>
