<!-- Header -->
<header id="header" class="alt">
    {#<h1><a href="index.html">Retrospect</a></h1>#}
    {#<a href="#nav">Menu</a>#}

    <!-- Nav -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="#">bootstrapBay</a>#}
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ path('ehs_default_index') }}">Accueil</a></li>
                    <li><a href="#">L'association</a></li>
                    <li><a href="{{ path('event_frontShow') }}">Les évènements</a></li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestion <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {#<li class="dropdown-header">Admin & dashBord</li>#}
                            <li><a href=""
                                   data-toggle="modal" data-target="#edit{{ app.user.getId() }}">Edition du profil</a></li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('user_index') }}">Gestion des adhérents</a></li>
                                <li><a href="{{ path('event_index') }}">Gestion des évènements</a></li>
                            {% endif %}
                            <li><a href="#">Admin2</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                    {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                        <li><button type="button" class="btn navbar-btn" data-toggle="modal" data-target="#login">
                                Login
                            </button></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

</header>
