{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des adhérants</h1>

    <table width="100%" class="table display" id="events" cellspacing="0">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Adhésion validé</th>
                <th>Date de fin d'adhésion </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phone }}</td>
                <td>{% if user.isAccepted %}Oui{% else %}Non{% endif %}</td>
                <td>{% if user.getExpiresAt() %}{{ user.getExpiresAt|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('user_accept', {'id': user.id}) }}">Accept</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
