{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des adhérents</h1>

    <table width="100%" class="table display" id="events" cellspacing="0">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Adhésion validé</th>
                <th>Date de fin d'adhésion </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phone }}</td>
                <td>{% if user.isAccepted %}Oui{% else %}Non{% endif %}</td>
                <td>{% if user.getExpiresAt() %}{{ user.getExpiresAt|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <button type="button" class="btn badge" data-toggle="modal" data-target="#show{{ user.id }}">
                        Voir
                    </button>
                    {{ render(controller('EHSBundle:User:show', {'id': user.id})) }}
                    <button type="button" class="btn badge" data-toggle="modal" data-target="#edit{{ user.id }}">
                        Modifier
                    </button>
                    {{ render(controller('EHSBundle:User:edit', {'id': user.id})) }}

                    <button role="button" class="btn badge"
                            onclick=(document.location.href="{{ path('user_accept', {'id': user.id}) }}")>
                        Accepter l'adhésion</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('user_new') }}">Create a new user</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
