{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}

<!-- Modal -->
<div class="modal fade" id="show{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Détail</h4>
            </div>
            <div class="modal-body">

                <table>
                    <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>Code postal</th>
                        <td>{{ user.zipCode }}</td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td>{{ user.city }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ user.phone }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        {% set age= (date()|date('Y'))-(user.birth|date('Y')) %}
                        {% if (date()|date('md'))<(user.birth|date('md')) %}
                            {% set age=age-1 %}
                        {% endif %}
                        <td>{% if user.birth %}{{ age~' ' }}ans{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Adhésion Validé</th>
                        <td>{% if user.accepted %} Oui {% else %} Non {% endif %}</td>
                    </tr>
                    <tr>
                        <th>Date de Fin d'ahdésion</th>
                        <td>{% if user.expiresAt %}{{ user.expiresAt|date('d/m/Y') }} {% endif %}</td>
                    </tr>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <tr>
                            <th>Rôle de l'adhérent</th>
                            {% set role = 'Adhérent'%}
                            {% if user.getRoles[0] == 'ROLE_PRESS' %}
                                {% set role = 'Presse' %}
                            {% elseif user.getRoles[0] == 'ROLE_ADMIN' %}
                                {% set role = 'Modérateur' %}
                            {% elseif user.getRoles[0] == 'ROLE_SUPER_ADMIN' %}
                                {% set role = 'Administrateur' %}
                            {% endif %}
                            <td>{{ role }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-lg" data-dismiss="modal">Close</button>
            {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>

    {#<h1>User</h1>#}

   {##}
{#{% endblock %}#}
