{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des événements</h1>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newEvent">
        Nouvel évènement
    </button>
    <button type="button" class="btn btn-primary btn-lg"
            onclick=(document.location.href="{{ path('appointment_index') }}")>
       liste des adresses
    </button>

    {{ render(controller('EHSBundle:Event:new')) }}

    <table width="100%" class="table display" id="events" cellspacing="0">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Présentation</th>
                <th>Date et heure de début</th>
                <th>Date et heure de fin</th>
                <th>Nombre de place</th>
                <th>Information complémentaire</th>
                <th>Archivé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.presentation }}</td>
                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if event.endDate %}{{ event.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.placeNumber }}</td>
                <td>{{ event.addInfo }}</td>
                <td>{% if event.archived %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <button type="button" class="btn badge" data-toggle="modal" data-target="#{{ event.id }}">
                        Modifier
                    </button>
                    <a href="{{ path('event_registered_list', {'id': event.id}) }}" class="btn badge">Voir la liste des inscriptions</a>
                    {{ render(controller('EHSBundle:Event:edit', {'id': event.id})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
