<section id="banner" style="background-image: url({{ asset('uploads/images/'~nextEvent.getImages[0].getId()
~'.'~nextEvent.getImages[0].getExtension()) }}">
    {#<img src="{{ asset('bundles/EHS/images/ehs.png') }}" alt="logo ehs">#}
    <h2>{{ nextEvent.title }}</h2>
    <p>{{ nextEvent.presentation }}</p>
    <ul class="actions">
        <li><a href="{{ path('event_show', {'id': nextEvent.getId()}) }}" class="button big special">Voir plus</a></li>
    </ul>

</section>