{% if nextEvent %}
    {% if nextEvent.getImages|first %}
    {% set image= nextEvent.getImages|first %}
        <section id="banner">
    {% else %}
        <section id="banner">
    {% endif %}
        {#<img src="{{ asset('bundles/EHS/images/ehs.png') }}" alt="logo ehs">#}
        <h2>{{ nextEvent.title }}</h2>
        <h5>( {{ nextEvent.appointment.appointment~', '~nextEvent.startDate|date('d M Y') }} )</h5>
        <ul class="actions">
            <li><a href="{{ path('event_show', {'id': nextEvent.getId()}) }}" class="button big special">Voir plus</a></li>
        </ul>

    </section>
{% else %}
    <section id="banner">
        <img src="{{ asset('bundles/EHS/images/ehs.png') }}" alt="logo ehs">

    </section>
{% endif %}