{% extends 'base.html.twig' %}

{% block body %}
    {% set dispo = event.placeNumber - event.inscriptions|length %}
    <section id="main" class="wrapper">
        {% set results = app.request.query %}
        {% for key in results|keys %}
            {% if key == 'message' %}
                <div id="message"><h4>Votre inscription a bien été prise enregistré</h4></div>
            {% endif %}
        {% endfor %}
        <div class="container">

            <ul class="actions">
                {% if dispo %}
                    <li>
                        <button type="button" class="button special" data-toggle="modal" data-target="#newInscription">
                            s'inscrire à l'événement
                        </button>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ bachUrl }}" class="button alt">retour</a>
                </li>
            </ul>
            {{ render(controller('EHSBundle:EventInscription:new', {'event': event.id})) }}
            <header class="major special">
                <h2>{{ event.title }}</h2>
                <h5>(
                    {% for tag in event.getTags() %}
                        {% if loop.index == loop.last %}
                            {{ tag.tag }}
                            {% else %}
                                {{ tag.tag~', ' }}
                        {% endif %}
                    {% endfor %}
                    )</h5>
            </header>

            {% if event.images %}
                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="12u$">
                        <span class="image fit"><img
                                    src="{{ asset('uploads/images/'~event.images[0].getId()~'.'~event.images[0].getExtension()) }}"
                                    alt="{{ event.images[0].getOriginalName() }}" /></span></div>
                    </div>
                </div>
            {% endif %}

            <p>{{ event.presentation }}</p>

            <p>{{ event.addInfo }}</p>

            <h2>L'événement se déroulera du {{ event.startDate|date('d-m-Y à h:i') }} au
                {{ event.endDate|date('d-m-Y à h:i') }}</h2>
            <h3> à l'adresse {{ event.appointment.getAddress }} {{ event.appointment.getZipCode() }}
            {{ event.appointment.getCity() }}</h3>

            <p>{{ event.appointment.getAddInfo() }}</p>

            {% if dispo %}
                {% if dispo ==1 %}
                    <h4>il ne reste plus qu'une seule place de disponible.</h4>
                {% else %}
                <h4>Il reste {{ dispo }} places de disponibles</h4>
                {% endif %}
                <ul class="actions">
                        <li>
                            <button type="button" class="button special" data-toggle="modal" data-target="#newInscription">
                                s'inscrire à l'événement
                            </button>
                        </li>
                    <li>
                        <a href="{{ bachUrl }}" class="button alt">retour</a>
                    </li>
                </ul>
            {% else %}
                <h4>Nous sommes désolé, il n'y a plus de place disponible pour cette événement.</h4>
            {% endif %}


        </div>
    </section>
{% endblock %}
