{% extends 'base.html.twig' %}

{% block body %}
    {{ render(controller('EHSBundle:EventInscription:new', {'event': event.id})) }}
    {{ render(controller('EHSBundle:Program:show', {'id': event.program.id})) }}

    {% set dispo = event.placeNumber - event.inscriptions|length %}
    <section id="main" class="wrapper eventShow">
        {% set results = app.request.query %}
        {% for key in results|keys %}
            {% if key == 'message' %}
                <div id="message"><h4>Votre inscription a bien été enregistré</h4></div>
            {% endif %}
        {% endfor %}
        <div class="container">

            <ul class="actions event">
                <li>
                    <button type="button" class="button special" data-toggle="modal"
                            data-target="#program{{ event.program.id }}">
                        Voir le programme
                    </button>
                </li>
                {% if dispo %}
                    <li>
                        <button type="button" class="button special" data-toggle="modal" data-target="#newInscription">
                            s'inscrire à l'événement
                        </button>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ bachUrl }}" class="button alt">retour</a>
                </li>
            </ul>

            <header class="major special event">
                <h5>{{ event.header|nl2br }}</h5>
                <h3>{{ event.title }}</h3>
                <h5>( {{ event.appointment.appointment~', '~event.startDate|date('d M Y') }} )</h5>
            </header>

            {% if event.images|first %}
                {% set image = event.images|first %}
                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="12u$">
                        <span class="image fit"><img
                                    src="{{ asset('uploads/images/'~image.getId()~'.'~image.getExtension()) }}"
                                    alt="{{ image.getOriginalName() }}" /></span></div>
                    </div>
                </div>
            {% endif %}

            <p class="event" style="font-family: Georgia, 'Times New Roman', Times, serif">{{ event.presentation|nl2br }}</p>

            {#<h2 class="event">L'événement se déroulera du {{ event.startDate|date('d-m-Y à H:i') }} au#}
                {#{{ event.endDate|date('d-m-Y à H:i') }}</h2>#}
            {#<h3> à l'adresse {{event.appointment.getAppointment()~' '~event.appointment.getAddress()#}
                {#~' '~event.appointment.getZipCode()~' '~event.appointment.getCity() }}</h3>#}

            {#<p class="event">{{ event.appointment.getAddInfo() }}</p>#}

            {% if dispo %}
                <h5>Entrée gratuite selon place disponible</h5>
            {% else %}
                <h5>Nous sommes désolés, il n'y a plus de place disponible pour cet événement.</h5>
            {% endif %}

            <p class="event">{{ event.addInfo }}</p>
            <ul class="actions event">
                <li>
                    <button type="button" class="button special" data-toggle="modal"
                            data-target="#program{{ event.program.id }}">
                        Voir le programme
                    </button>
                </li>
                {% if dispo %}
                    <li>
                        <button type="button" class="button special" data-toggle="modal" data-target="#newInscription">
                            s'inscrire à l'événement
                        </button>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ bachUrl }}" class="button alt">retour</a>
                </li>
            </ul>

            {% if event.images %}
                <div class="box alt">
                    <div class="row 50% uniform">
                        {% for image in event.images %}
                            {% set class='4u' %}
                        {% if loop.index is divisible by(3) %} {% set class= '4u$' %}{% endif %}
                            <div class="{{ class }}"><span class="image fit">
                                    <img alt="{{ image.getOriginalName() }}"
                                         src="{{ asset('uploads/images/'~image.getId()~'.'~image.getExtension()) }}"></span></div>

                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <section id="two" class="wrapper special">
                <div class="inner">
                    <header class="major narrow">
                        {#<h2>Ils s’engagent avec nous en faveur des personnes souffrant de handicap</h2>#}
                        <p>Ils s’engagent avec nous en faveur des personnes souffrant de handicap</p>
                    </header>
                    <div class="image-grid">
                        <a href="http://paysdelaloire.franceolympique.com/" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/ville de nantes.png') }}"
                                                       alt="logo ville de nantes" /></a>
                        <a href="http://www.erepl.fr" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/reflexion.png') }}"
                                 alt="logo espace reflexion pays de la loire" style='width: 10em' /></a>
                        <a href="http://www.lacite-nantes.fr" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/cité congrès.jpg') }}"
                                 alt="logo cité des congrès nantes" style='width: 10em' /></a>
                        <a href="http://paysdelaloire.franceolympique.com" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/CROS.jpg') }}"
                                                       alt="logo ville de nantes" /></a>
                        <a href="https://www.creditmutuel.fr" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/credit mutuel.jpg') }}"
                                 alt="logo ville de nantes" style='width: 10em' /></a>
                        <a href="http://www.ruffault.fr/" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/ruffault.png') }}"
                                                       alt="logo ruffault traiteur nantes" /></a>
                        <a href="#" class="image">
                            <img src="{{ asset('bundles/EHS/images/partenaires/team303.jpg') }}"
                                                       alt="logo team303" style='width: 10em' /></a>
                    </div>
                </div>
            </section>

        </div>
    </section>
{% endblock %}
