{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listes des adresses d'évènement</h1>

    <table width="100%" class="table display" id="events" cellspacing="0">
        <thead>
            <tr>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Information complémentaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.address }}</td>
                <td>{{ appointment.zipCode }}</td>
                <td>{{ appointment.city }}</td>
                <td>{{ appointment.addInfo }}</td>
                <td>
                    <button type="button" class="btn badge" data-toggle="modal" data-target="#{{ appointment.id }}">
                        Modifier
                    </button>
                    {{ render(controller('EHSBundle:Appointment:edit', {'id': appointment.id})) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
